
body, html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Franklin Gothic";
  font-family: 'Raleway', sans-serif;
  
  margin: 0;
  /* width: 100vw;
  height: 100%; */
  min-height: 100%;
  box-sizing: border-box;
  /* overflow-x: hidden;
    overflow-y: hidden; */
}

body {
  background-image: linear-gradient(
    to right bottom,
    #ffd700,
    #bde648,
    #7deb82,
    #38ebb7,
    #00e5df,
    #00deed,
    #00d5f8,
    #00ccff,
    #00c1ff,
    #62afff,
    #b891ff,
    #ff62ff
  );
  background-color: #000000; /* Used if the image is unavailable */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.navbar {
  display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 10px 10px 10px;
    margin: 20px;
    /* background-color: #eee; */
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 22px;
}

.navbar a {
  text-decoration: none;
    padding: 10px;
    /* font-weight: 600; */
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 22px;
}

.formcontainer {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
}

.form {
  /* max-width: 300px; */
  text-align: center;
  margin-top: 60px;
  /* background-color: #ffffff89; */
  padding: 25px 40px;
  padding: 40px 50px;
  padding-top: 35px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
}

.form h1 {
  margin-bottom: 35px;
}

input {
  min-width: 280px;
  min-height: 40px;
  border: none;
  border-radius: 4px;
  border: solid 1.5px #929292;
}

input:focus-visible {
  outline-color: #2ff598;
  outline-offset: inherit;
  outline-style: solid;
  outline-width: thin;
  border: solid 1px #2ff598;
}

input[type="checkbox"] {
  min-width: inherit;
  min-height: inherit;
  margin: 5px;
}

input[type="text" i] {
  padding-left: 10px;
}

a#checkmark {
  color: #f6f6f6;
  text-decoration: none;
}

.form button {
  padding: 6px 5px;
  cursor: pointer;
}

.form button span {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  color: #303030;
}

.quotescontainer {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.quote {
  text-align: right;
  max-width: 500px;
}

.quote p {
  font-family: monospace;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}

.searchresults {
  margin-top: 70px;
  margin-right: 20px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
}

.result-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
}

.result-image {
  width: 100%;
  height: auto;
}

.result-info {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
}

.result-title {
  font-size: 1.2rem;
  margin: 0;
}

.result-save {
  background-color: #f8b500;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.result-save:hover {
  background-color: #e6a300;
}

.submitForm {
  margin-left: 50px;
  margin-top: 20px;
}

.saved-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 70px;
  margin-right: 20px;
  margin-left: 20px;
}

.saved-movie-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}

.saved-movie-image {
  width: 100%;
  height: auto;
}

.saved-movie-info {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
}

.saved-movie-title {
  font-size: 1.2rem;
  margin: 0;
}

.saved-movie-delete {
  background-color: #f8b500;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.saved-movie-delete:hover {
  background-color: #e6a300;
}

.buttonSubmit {
  background-color: #f8b500;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 20px;
}
.buttonSubmit:hover {
  background-color: #e6a300;
}

.logo {
  display: block;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}

.logo{
  animation: spin-and-flip 7s ease-in-out infinite;
}

@keyframes spin-and-flip {
  0% {
    transform: rotate(0) scaleX(1);
  }
  50% {
    transform: rotate(180deg) scaleX(-1);
  }
  100% {
    transform: rotate(360deg) scaleX(1);
  }
}

